<div class="row">
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-9">
                <div class="subview-location-search"></div>
            </div>
            <div class="col-sm-3">
                <div class="subview-sort-listings"></div>
            </div>
        </div>
        <div class="row">
            <div id="search-tabs" class="col-sm-12 search-results-tab">

                <!-- Nav tabs -->
                <ul id="search-tabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab-search-results" aria-controls="search-results" role="tab" data-toggle="tab">
                            Search Results <span class="search-result-count"></span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#tab-additional-criteria" aria-controls="additional-criteria" role="tab" data-toggle="tab">
                            Search Criteria
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab-search-results">
                        <div class="search-results">
                            <div class="subview-listings"></div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-additional-criteria">
                        <div class="subview-criteria-search"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="subview-sync-stat"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="subview-listing">
            <div class="render-listing"></div>
        </div>
    </div>
</div>



