<div class="location-search-container">
    <input class="form-control typeahead location-search" type="text" placeholder="Location, Address, or MLS#">
    <div class="search-term-suggestions"></div>
</div>