<div id="sort-drop-down-menu" class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort By
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sort-drop-down-menu">
        <li class="sort-newest"><a href="#">Newest</a></li>
        <li class="sort-oldest"><a href="#">Oldest</a></li>
        <li class="sort-highest-price"><a href="#">Highest Price</a></li>
        <li class="sort-lowest-price"><a href="#">Lowest Price</a></li>
        <li class="sort-most-beds"><a href="#">Most Beds</a></li>
        <li class="sort-least-beds"><a href="#">Least Beds</a></li>
        <li class="sort-most-baths"><a href="#">Most Baths</a></li>
        <li class="sort-least-baths"><a href="#">Least Baths</a></li>
    </ul>
</div>