<div class="col-xs-12">
    <div class="row">
        <div class="nav-pills">
            <ul class="nav nav-pills">
                <li role="presentation" class="active">
                    <a id="results-link" href="#index">Results  <span class="search-result-count"></span></a>
                </li>
                <li role="presentation">
                    <a id="search-criteria-link" href="#criteria">Criteria</a>
                </li>
                <li role="presentation">
                    <a id="disclaimer-info-link" href="#disclaimer">Info</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row index-view">
        <div class="col-xs-12">
            <div class="subview-location-search"></div>
        </div>
        <div class="col-xs-12">
            <div class="subview-sort-listings"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 index-view">
            <div class="subview-listings"></div>
        </div>
        <div class="col-xs-12 listing-view hidden">
            <div class="subview-listing">
                <div class="render-listing"></div>
            </div>
        </div>
        <div class="col-xs-12 search-criteria-view hidden">
            <div class="subview-criteria-search"></div>
        </div>
        <div class="col-xs-12 disclaimer-view hidden">
            <div class="subview-sync-stat"></div>
        </div>
    </div>
</div>



